* {
  text-decoration: none !important;
  color: #333;
}

#root {
  margin: 20px 40px;
}

header {
  display: flex;
  align-items: center;
  margin: 0 -20px 40px;
}

header > * {
  margin: 0 20px;
}

.btn {
  text-align: center;
  width: 100px;
}

.btn:hover {
  background: #222;
}

.btn.btn-logout {
  background: none;
  color: 333;
}

.btn.btn-logout:hover {
  font-weight: bold;
  background:none;
}

nav > * {
  margin-right: 20px;
}

form input {
  display: block;
  margin-bottom: 20px;
}

.knight-img {
  width: 400px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
